.form#form
	.field.email
		.icon
		input.input#email(type="eposta" placeholder="eposta" autocomplete="off")
	.field.password
		.icon
		input.input#password(type="şifre" placeholder="şifre")
	button.button#submit GİRİŞ
		.side-top-bottom
		.side-left-right
	small Lütfen doldurunuz!